doctype html
head
  link(rel='stylesheet' href='/css/styles.css')
body
  input#particle_count(type='text' maxlength='3' name='value')
  input(type='button' value='submit' onclick='run()')
#new
script.
  let element = document.getElementById("new");
  let bird = document.createElement("div");
  //- bird.classList.add("bird");
  element.appendChild(bird);
script(type='text/javascript' src='/js/birds_interaction.js' defer='defer')