h1 {
  display: inline-block;
}

#dropdown {
  position: absolute;
}

canvas {
  border: 1px solid rgba(180, 191, 196, 0.585);
  position: absolute;
}

.btn {
  margin: 10px;
  text-decoration: none;
  padding: 10px;
  background-color: rgb(147, 147, 189);
  color: white;
}

#particle-count-form {
  display: inline-block;
}

#control-bar {
  z-index: 1;
  position: absolute;
}